body {
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Arial", sans-serif;
}

@font-face {
    font-family: "TamanegiFont";
    src: url("font/tamanegikaisyogeki_freev7_kai.ttf");
}

h1 {
    font-family: "TamanegiFont", sans-serif;
    font-size: 60px;
    color: #333;
    text-align: center;
    margin-top: 50px;
    background-image: url("washi.png");
    background-size: cover;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.result {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}